/* ---COLOURS--- */
/* Orange: #e67e22
Orange hover: #eda25f

*/

/* ------------------- */
/* ---- General ---- */
/* ------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(concrete.png);
    height: 100vh;
}




/* ------------------- */
/* ---- Table ---- */
/* ------------------- */


table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    border-spacing: 8px;
}


/*
transform: translate(-50%,-50%);
}*/

/* ------------------- */
/* --- seperate cells --- */
/* ------------------- */

td{
    width: 75px;
    height: 75px;
    border: 5px solid #555;
    border-radius: 20px;
    text-align: center;
}


/* ------------------- */
/* ---- columns ---- */
/* ------------------- */

tr:hover{
    background-color: #eda25f;
    transition: background-color 0.2s;
}



















